{% load leaflet_tags %}
{% load static %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
    .leaflet-container { height: 100%; }
    .map_info {
      background: white;
      position: fixed;
      z-index: 1000;
      top: 0; 
      right: 0;
      width: 200px;
      padding: 20px;
      text-align: center; 
    }
    </style>
    <script>
        var dataurl = '{% url "api_tiles" grid.id %}';

        function isCurrentUser(user) {
          if (user && user.username === '{{ request.user.username }}') {
            return true;
          }
          return false;
        }

        function isTileLocked(tile) {
          return tile.status === 1;
        }

        function getStyleFromFeature(feature) {
          var style = {
            "color": "#666", 
            "weight": 1,
            "opacity": .7
          }; 
          if (isTileLocked(feature.properties)) {
            style.color = '#fc4103'; 
            style.opacity = .9;
            if (isCurrentUser(feature.properties.activity_related.user)) {
              style.color = '#fcba03'
            }
          }
          return style;
        }
  
        window.addEventListener("map:init", function (event) {
          var map = event.detail.map;
          fetch(dataurl)
            .then(function(resp) {
              return resp.json();
            })
            .then(function(data) {
              var geoJson = L.geoJson(data, {
                style: getStyleFromFeature,
                onEachFeature: function onEachFeature(feature, layer) {
                  if (isTileLocked(feature.properties)) {
                    var activity = feature.properties.activity_related;
                    date = activity.start_date;
                    var user = activity.user;
                    
                    var popup = `<div class="popup"><img src="${user.avatar}" width="100"/><p style="text-align:center;">👑 ${user.username}<br />⌚️ ${date}</p></div>`;
                    layer.bindPopup(popup);

                    // var imageUrl = 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Sydney_Opera_House_-_Dec_2008.jpg/1024px-Sydney_Opera_House_-_Dec_2008.jpg';
                    // L.imageOverlay(imageUrl, feature.geometry.coordinates).addTo(map);
                  }
                  
              }});
              geoJson.addTo(map);
              map.fitBounds(geoJson.getBounds());
            });
        });
      </script>
</head>
<body>
    {% leaflet_map "grid" %}
    <div class="map_info">
      <h1>{{ grid.name }}</h1>
      <p>
        Score : {{ score }} <br />
        Tiles: {{ grid.get_number_of_available_tiles }} / {{ grid.get_total_number_of_tiles }}
      </p>
    </div>
</body>